/* Override blueprint */
body {
    color : #666;
    background: #fff url(/images/black.jpg) repeat-x;
}

#container {
    width:790px;
    margin: 20px auto;
}

small {
    font-size: 0.9em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

div.flash {
    width: 470px;
    font-weight: bold;
    text-align: center;
    border: 1px black;
    font-size : 1.6em;
    color: white;
    padding: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

div.flash.message {
    background: green;
}

div.flash.error {
    background: red;
}

/**********************************************/

div.upload {
    padding: 20px 0px;
    width: 400px;
}

div#fileinputs {
    position: relative;
    cursor: pointer;
}

div.fakefile {
    width: 400px;
    height: 24px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 1;
    color: white;
    font-weight: bold;
    background-color: black;
    cursor: pointer;
}

div.upload #asset_file {
    width: 400px;
    height: 24px;
    position: relative;
    -moz-opacity:0;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.bar {
    width: 400px;
}

#progress {
    background: #eee;
    border: 1px solid #222;
    margin-top: 0px;
}

#progressbar {
    width: 0px;
    height: 24px;
    background: #333;
}

/**********************************************/

input {
    width: 230px;
    padding: 3px;
    padding-left: 5px;
}

textarea {
    width: 400px;
    height: 60px;
    padding: 5px;
}

input, textarea {
    font-size: 1.1em;
    border: 1px solid #a1a1a1;
    margin-bottom: 0.5em;
}

input:focus, textarea:focus {
    background: #eee;
    border: 1px solid #a1a1a1;
}