/* Override blueprint */
body {
    color : #666;
    background: #fff url(/images/black.jpg) repeat-x;
}

/* Header. */
#header h1 {
  display: inline;
}

#header a {  
  color: #aaa;  
  text-decoration:none;
}

#header p {
  color: #666;
}


#container {
    width:790px;
    margin: 20px auto;
}

#content {
    min-height:550px;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

h2 {
  margin-top: 20px;
  font-size:27pt;
  margin-bottom: 0px;
  color: #1569C7;
}

/**********************************************/

.listnr {
    font-size:60pt;
    color:#DDD;
    font-weight: bold;
    margin-top: 20px;
    height: 100px;
}

.listentry {
    font-weight: bold;
    font-size:20pt;
    margin-top: 20px;
    height: 100px;
    line-height: 20pt;
}

.listentryprog {
    margin-top: 40px;  
    height: 40px;
}

.listentry2 {
    font-weight: bold;
    font-size:20pt;
    margin-top: 50px;
    height: 260px;
    line-height: 20pt;
}

.listentry3 {
    font-weight: bold;
    font-size:20pt;
    margin-top: 50px;
    height: 260px;
    line-height: 20pt;
}

.listentry4 {
  font-weight: bold;
  font-size:20pt;
  height: 260px;
  line-height: 20pt;
}

/**********************************************/

#upload_button {
    width:  480px;
    color: white;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    text-decoration: none;
        
    background-color: #38ACEC;
    cursor: pointer;
    display:block;

    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    
    margin: 0px auto;
    margin-top: 40px;
}

#upload_button:hover {
    background-color: #1569C7;
}

/**********************************************/

#upload_progress_bar {    
    width: 430px;
    color: black;
    background: #eee;
    border: 1px solid #222;
    margin-left: 30px;
    margin-top: 0px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
    float:left;
}

#progressbar {
    width: 0px;
    height: 20px;
    background: green url(/images/upload.gif) repeat-x;
}

#percents {
  color: black;
  font-size: 12pt;
  font-weight: bold;
  width: 50px;
  text-align:center;
  margin-left: 10px;  
  display:inline;
}

/**********************************************/

textarea {
    font-size: 10pt;
    width: 480px;
    height: 120px;
    padding: 5px;
    margin-left: 27px;
    border: 1px solid #a1a1a1;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
}

input {
  border: 0;
  background: #38ACEC;
  font-size: 14pt;
  font-weight: bold;  
  width: 490px;
  padding: 5px;
  color: white;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 27px;
}

input:hover {    
  background: #1569C7;
}

textarea:focus {
    background: #efefef;
    border: 1px solid #999;
}


/*******************************/

.asset {
    font-size: 10pt;
    color: black;
    text-align:center;
    padding-top:60px;
}


#assets {
    width: 100%;    
}


#others {
  margin-left: 27px;
  padding: 30px;
  color: #38ACEC;
  text-decoration: none;
}

#others:hover {    
  color: #1569C7;
  text-decoration: underline;  
}


#sidebar {
    width: 100%;
    text-align: right;
    color: #DDD;
}

#sidebar a {
    color: #DDD;
}

#sidebar a:hover {
    color: #BBB;
}