
 <div class="asset">
   <% if asset.file.path %>
     <%= image_tag(asset.file.url, :width => 75, :height => 75) + "<br>" if asset.file_content_type =~ /image/ %>
     <%= asset.file.path.gsub( RAILS_ROOT, '').gsub('/public/system', '') %><br>
     made <strong><%= asset.file_file_size.to_i %> Bytes</strong> of Traffic
   <% else %>
     <em>heavy traffic in progress...</em>
   <% end %>
   <br>
   <%= asset.comment %>
 </div>