<div>

    <div class="entrytitle">
      <h2>See what other already uploaded</h2>
    </div>

    <div class="entrybody">
      <p>Files may be randomly deleted!</p>

      <div id="assets" style="min-height: 500px;">
          <%= render @assets %>
      </div>
    </div>

</div>